<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" type="text/css" media="all">
    <link rel="manifest" href="%SRC_URL%/package-lock.json" />
    
    <nav class="navbar navbar-dark bg-primary">
      <!-- Navbar content -->
    </nav>
    
</head>
<body>

  <header>
    <h1>Famosa cafeteria desde 1981</h1>
    <h2>Bienvenid@</h2>
    <center><img src="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\comer1.JPG" width="600" class="logo"/></center>
  </header>
  
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Rosy Coffee</span>
  </nav>
    <h1>Ven por una gran variedad de alimentos exquisitos y exitosos</h1>
    ​<picture>
        <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\sandwich1.png" type="image/svg+xml">
        <center><img src="sandwich1.png" width="400" class="img-fluid img-thumbnail" alt="sandwich1"></center>
      </picture>
      <div class="container-fluid">
        <center><h3>Servicio en restaurante y a domicilio</h3></center>
        
      </div>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            Platillos
            <picture>
                <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\sandwich2.png" type="image/svg+xml">
                <img src="sandwich2.png" class="img-fluid img-thumbnail" alt="sandwich2">
            </picture>
          </div>
          <div class="col-sm">
            Bebidas
          <picture>
            <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\drink1.png" type="image/svg+xml">
            <img src="drink1.png" class="img-fluid img-thumbnail" alt="drink1">
          </picture>
          <picture>
            <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\drink2.png" type="image/svg+xml">
            <img src="drink2.png" class="img-fluid img-thumbnail" alt="drink2">
          </picture>
          </div>
          <div class="col-sm">
            Postres
            <picture>
                <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\postres1.png" type="image/svg+xml">
                <img src="postres1.png" class="img-fluid img-thumbnail" alt="postres1">
              </picture>
          </div>
        </div>
      </div>

      <aside class="menu">
        <p class="menu-label">
          Alimentos
        </p>
        <ul class="menu-list">
          <li><a>Sandwiches</a></li>
          <li><a>Ensaladas</a></li>
        </ul>
        <p class="menu-label">
          Postres
        </p>
        <ul class="menu-list">
          <li><a>Pasteles</a></li>

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                       
            </div>
          </nav>

        
        <ul class="menu-list">
          Visita nuestro Blog con mas informacion de nuestra historia, servicios y horarios.
        </ul>
            
            <ul>
              <li><a>Historia</a></li>
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    En 1981 se abre nuestra cafeteria con la idea de brindar un espacio de relajacion donde puedes encontrar deliciosa comida en un lugar agradable.
                  </div>
                  <picture>
                    <center><source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\cafejardin.jpg" type="image/svg+xml">
                    <img src="cafejardin.jpg" width="600" height="400" class="img-fluid img-thumbnail" alt="cafejardin"></center>
                  </picture>
                </div>
              </div>
              <li><a>Servicios</a></li>
              <p>Eventos corporativos</p>
              <p>Desayunos, Comidas y Cenas</p>
              <p>Banquetes para fiestas</p>
              <li><a>Horarios</a></li>
              <p>Lunes a Sabado de 8 am a 10 pm</p>
            </ul>
          
        </ul>
        <p class="menu-label">
        </aside>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Reservaciones</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     
          </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Reservar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="busqueda" placeholder="Busqueda" aria-label="Busqueda">
            <button class="btn btn-outline-success my-2 my-sm-0" type="busqueda">Busqueda</button>
          </form>
        </div>
      </nav>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Nombre del Cliente</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="ingresar" placeholder="Ingresar" aria-label="Ingresar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ingresar</button>
          </form>
        </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Telefono del Cliente</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="ingresar" placeholder="ingresar" aria-label="Ingresar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ingresar</button>
          </form>
        </div>
      </nav>
        </nav>

       <Footer>

        <div class="container-footer">
        <div class="copyright">
        2021 Todos los Derechos Reservados
        </div>
        </div>

       <div class="Information">
         <a href="">Informacion Compañia</a>
         <a href="">Politica y Privacidad</a>
         <a href="">Terminos y Condiciones</a>
       </div>

       <div class="colum2">
         <h1>Redes Sociales</h1>

         <div class="row">
          <imgsrc="">
          <label for="Facebook">
            ****Siguenos en
            <picture>
              <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\facebook.png" type="image/svg+xml">
              <img src="facebook.png" width="40" height="40" class="img-fluid img-thumbnail" alt="facebook">
            </picture>
          </label>
          <a href="">
            Facebook
          </a>
          </div>

         <div class="row">
          <imgsrc="">
          <label for="">
            ****Siguenos en
            <picture>
              <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\twitter.png" type="image/svg+xml">
              <img src="twitter.png" width="40" height="40" class="img-fluid img-thumbnail" alt="twitter">
            </picture>
          </label>
         <a href="">
         Twitter
         </a>
         </div>

         <div class="row">
          <imgsrc="">
          <label for="">
            ****Siguenos en
            <picture>
              <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\Instagram.png" type="image/svg+xml">
              <img src="Instagram.png" width="40" height="40" class="img-fluid img-thumbnail" alt="Instagram">
            </picture>
          </label>
         <a href="">
         Instagram
         </a>
         </div>

         <div class="row">
          <imgsrc="‪icon.Google">
          <label for="">
            ****Siguenos en
            <picture>
              <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\Google.png" type="image/svg+xml">
              <img src="Google.png" width="40" height="40" class="img-fluid img-thumbnail" alt="Google">
            </picture>
          </label>
         <a href="">
         Google Plus
         </a>
         </div>

         </div>
         <div class="colum3">
          <h1>Informacion Contacto</h1>
          <div class= row></div>
           <img src="" alt="">
         </div>
         <label for="">Arcoiris 54 Col. Centro Miguel Hidalgo 11500</label>

         <div class= row></div>
           <img src="" alt="">
         </div>
         <label for="">+525512345678</label>

         <div class= row></div>
           <img src="" alt="">
         </div>
         <label for="">CafeteriaRosy@email.com</label>

         <picture>
          <source srcset="C:\Users\SoyAlejandroYT\Downloads\Developer Full Stack\Proyecto 4\public\cafeteria.jpg" type="image/svg+xml">
          <img src="cafeteria.jpg" class="img-fluid img-thumbnail" alt="cafeteria">
        </picture>
         
        </div>

      </Footer>
      <body style="background-color: orange">
      </body>
</body>
</html>